
#home .nav-bar .intro{
    display: flex;
}

#home .nav-bar .intro .logo{
    display: flex;
    width: 100px;
    height: 100px;
}
#home .nav-bar .intro .logo .logo-svg1{
    position: absolute;
    z-index: 5;
    height: auto;
    padding-top: 13px;
}
#home .nav-bar .intro .logo .logo-svg2{
    z-index: 10;
    position: absolute;
    padding-top: 17px;
    padding-left: 18px;
}
#home .nav-bar .intro .logo .logo-svg3{
    z-index: 20;
    position: absolute;
    padding-left: 31px;
}